version: 2
jobs:
  build:
    docker:
      - image: kanayannet/image_limit_resize:latest
    steps:
      - checkout
      - run: bundle install
  test:
    docker:
      - image: kanayannet/image_limit_resize:latest
    steps:
      - checkout
      - run: bundle install
      - run: bundle exec ruby test/image_limit_resize_test.rb
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
